<Config>
    <Variables>
        <Variable name="layer0" value="0" type="string"/>
        <Variable name="layer1" value="1" type="string"/>
        <Variable name="use_fancy_when_static_layer0"  value="false" type="string"/>
        <Variable name="use_fancy_when_static_layer1"  value="false" type="string"/>
        <Variable name="use_quiet_when_anim_layer0" value="false" type="string"/>
        <Variable name="use_quiet_when_anim_layer1" value="false" type="string"/>
    </Variables>
</Config>
